<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />

    <title>Hybrasyl Launcher</title>
    <link href="https://www.hybrasyl.com/link/launcher.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="logo"></div>
    <div class="main"> 
      <div class="header">
	Server Status: <p class="online">Online</p> (commit d8d9d22c)
      </div>

      <div class="news">
	<h2>Welcome to Project Hybrasyl!</h2>
	<h3>Current News</h3>
	<ul>
	  <li>2013.01.28 - Test server is live! Please visit <a href="http://www.hybrasyl.com">the Hybrasyl website</a> for more information.</li>
	  <li>2013.01.29 - Whispering is now implemented! Bask in the glory of blue text.</li>
	</ul>
      </div>
    </div>
  </body>
</html>
