<div class="container">
  <h2 class="text-center pageheader">Hybrasyl - Get in Touch with Us</h2>

  <p class="lead">
  The intent of Project Hybrasyl is to be as open and transparent as
  possible. We want to talk to you!</p>

	<p>
		If you've ever played Dark Ages or felt the
		magic of Temuair, help us recreate it! Get involved.
	</p>

  <ul>
		<li>Our <a href="http://www.reddit.com/r/hybrasyl">subreddit</a>, for discussion and general announcements;</li>
		<li>Our <a href="https://www.facebook.com/hybrasylproject">facebook</a> page, because apparently that's a requirement these days;</li>
    <li>We can also be found on Freenode IRC (irc.freenode.net), in <code>#hybrasyl</code>. You can even use it from your browser with this handy <a href="http://webchat.freenode.net/?channels=hybrasyl&uio=d4">webchat</a>.</li>
  </ul>

</div>

