<div class="container">
  <h2 class="text-center pageheader">Credits</h2>

	<p>
		A number of Aislings have helped Project Hybrasyl in many ways: sharing their
		thoughts, memories and opinions on Temuair, collecting and contributing data
		or lore, or by simply supporting our efforts in any number of ways.
	</p>
	
	<h3>Packet & Code Lore</h3>
	
	<p>
		<ul>
			<li>Mop</li>
			<li>Starmaiden</li>
		</ul>
	</p>
	
	<h3>Map Creation, Data Collection</h3>
	<p>
		<ul>
			<li>Cedrik</li>
			<li>Claudine</li>
			<li>EugorP</li>
			<li>Pyprus</li>
			<li>Tourne</li>
		</ul>
	</p>
	
	<h3>Thoughts, Opinions, Testing, and General Support</h3>
	
	<p>
		<ul>
			<li>Aevicken</li>
			<li>DuDDLeS</li>
			<li>Katrionah</li>
			<li>Etienne</li>
			<li>Mythran</li>
			<li>Vamistle</li>
		</ul>
	</p>
</div>
