<div class="container">
  <div class="row">
    <div class="span4">
      <img src="/assets/hybrasyl.png" class="pull-left img-rounded">
    </div>
    <div class="span8">
      <h1 class="text-center pageheader">Project Hybrasyl</h1>
      <h5 class="text-center"><em>Have you come to help, Aisling?</em></h5>
    </div>
  </div>
  <div class="row">
		<div class="span4">
		</div>
		<div class="span8">
			<h4 class="pull-left">Server Status</h4>
			<h4 style="color: #44B827" class="pull-right">Online</h4>
			<p style="clear: both">
				Hybrasyl production: active, running <code>master:0a57592</code></p>
			<p style="clear: both">
				Hybrasyl staging: active, running <code>master:0a57592</code></p>

			</p>
			<h4 class="pull-left">News</h4>
			<p style="clear: both">
				<ul>
        <li>2014.08.23 - 0.3.5 has been released to production! Work is now proceeding on the next major release, 0.4.0. For more information, visit our <a href="www.hybrasyl.com/releases">release page</a>.
        <li>2014.08.10 - New worldmsg feature; staging is now testing packet throttling / squelching.</li>
        <li>2014.08.08 - Production and staging servers are live, running the latest from the Hybrasyl 0.3.0 branch.</li>
        <li>For more information, please visit <a target="_new" href="http://www.hybrasyl.com">our main page</a>.
				</ul>
			</p>
		</div>
	</div>
</div>
