<div class="container">
  <h2 class="text-center pageheader">Hybrasyl Releases</h2>

  <p>
    Information about upcoming and past Hybrasyl releases can be found here. The current release is <code>0.3.5</code>, and we are currently working on <code>0.4.0</code>.
  </p>

  <h3>Hybrasyl 0.4.0</h3>
  <i>Released October 2, 2014</i> - <a href="https://hybrasyl.atlassian.net/browse/HYBSRV-112">List of issues resolved in 0.4.0</a>
  <h2>Summary</h2>
  <p>
    <ul>
      <li>Implemented exchange (player trade)</li>
      <li>Complete dialog support</li>
      <li>Fix accessory handling once and for all</li>
      <li>GM flag support / new GM only commands / ACL support</li>
      <li>Elements display correctly on items</li>
      <li>Regeneration of HP/MP on "tick" basis implemented</li>
      <li>Equipment display bug fixed</li>
      <li>Stack checking / stack handling correctly implemented</li>
      <li>Reactor (scripted tile actions) support</li>
      <li>Even more random bugfixes</li>
      <li>New slash command (/maplist) to search for maps</li>
    </ul>
  </p>

  <h3>Hybrasyl 0.3.5</h3>
  <i>Released August 23, 2014</i> - <a href="https://hybrasyl.atlassian.net/issues/?filter=10303">List of issues resolved in 0.3.5</a>
  <h2>Summary</h2>
  <p>
    <ul>
      <li>Refactored Hybrasyl to remove giant locks</li>
      <li>Implement new messaging / queuing system for client traffic and internal server messages</li>
      <li>Implemented logging using Log4Net, now logging to disk as well as console</li>
      <li>Add /shutdown support</li>
      <li>Add support for recurring jobs</li>
      <li>Add checkpointing support</li>
      <li>Correctly implement throttling and squelching</li>
      <li>Add client heartbeat support</li>
      <li>Add idle detection / autosnore support</li>
      <li>Many bugfixes</li>
    </ul>
  </p>

</div>
