// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

body.active_admin form.formtastic p.forminstructions {
  margin: 7px;
  font-size: 1.25em;
}

body.active_admin form.formtastic p.inline-errors {
  color: #CC0000;
}

body.active_admin form.formtastic fieldset ol li.float {
  float: left;
  margin-right: 2em;
}

body.active_admin form.formtastic fieldset.choices ol.choices-group li.choice {
  float: left;
  margin-right: 2em;
}

@import "hybrasyl/token-input";
@import "hybrasyl/token-input-facebook";
@import "hybrasyl/worldmapeditor";
